html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  background-color: rgb(255, 156, 156);
  color: rgb(0, 0, 0);
}
#header{
  font-size: 75px;
  text-align: center;
}
#button{
  font-size: 1.5rem;
  margin-top: 15px;
}
#select{
  background-color: rgb(255, 255, 255);
}
#input-1{
  padding: 10px;
  background-color: aliceblue;
  border-radius: 15px;
  text-align: center;
  width: 1000px;
  height: auto;
  margin: auto;
}
#input-2{
  padding: 10px;
  background-color: aliceblue;
  border-radius: 2px;
  text-align: center;
  width: 1000px;
  height: auto;
  margin: auto;
}
#input-3{
  padding: 10px 10px 50px 10px;
  background-color: aliceblue;
  border-radius: 15px;
  text-align: center;
  width: 1000px;
  height: auto;
  margin: auto;
}
.section{
  font-size: 5rem;
  margin-top: 15px;
}
#text{
  background-color: aliceblue;
}